<launch>

  <!-- Voxel Grid Filter Arguments -->
  <arg name="sync" default="false" />
  <arg name="node_name" default="voxel_grid_filter" />
  <arg name="points_topic" default="/velodyne_points" />
  <arg name="output_log" default="false" />
  <arg name="leaf_size" default="1.0" /> <!-- 1.0 for sparse LIDARs (e.g. VLP-16), 2.0-3.0 for dense LIDARs (e.g. VLP-32) -->

  <!-- Voxel Grid Filter Node -->
  <node pkg="ndt_localizer" name="$(arg node_name)" type="voxel_grid_filter" output="screen">
    <remap from="/points_raw" to="/sync_drivers/points_raw" if="$(arg sync)" />
    <param name="points_topic" value="$(arg points_topic)" />
    <param name="output_log" value="$(arg output_log)" />
    <param name="leaf_size" value="$(arg leaf_size)" />
  </node>

</launch>